.job-detail {
    width: 70%;
    height: 100%;
    margin: 25px auto;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(189, 189, 189);
    border-radius: 2px;
}

.back {
    margin-left: 14.5%;
    margin-top: 25px;
}

p {
    color: black;
}

.light {
    color: rgb(158, 158, 158);
}

.apply {
    background-color: #fffef1;
    padding: 1%;
    width: 380px;
    height: auto;
    margin-top: 5%;
    margin-left: 5%;
    border: 1px solid rgb(189, 189, 189);
}

.company {
    padding: 1%;
    width: 380px;
    height: auto;
    margin-top: 5%;
    margin-left: 5%;
    border: 1px solid rgb(189, 189, 189);
}
