.job-list {
    width: 70%;
    height: 100%;
    margin: auto;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(189, 189, 189);
    border-radius: 2px;
}

h2 {
    margin: 0;
    padding: 0 0 30px 0;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.list {
    padding: 20px 0 8px 0;
    border-bottom: 1px solid rgb(189, 189, 189);
    display: flex;
    justify-content: space-between;
}

.left {
    float: left;
}
 
.right {
    float: right;
}

p {
    color: rgb(158, 158, 158);
}