.container {
    margin: 0 14.5%;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
}

.box {
    margin: 3% 8%;
}

.checkbox {
    display: flex;
    white-space: nowrap;
    align-items: center;
}

.checkbox input {
    margin-right: 10%;
}

